@font-face {
  font-family: 'lxgw';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://github.com/emie244/lxgw-webfont/releases/download/v1.0/LXGWWenKai-Regular.ttf) format('truetype');
}
