@font-face {
  font-family: 'lxgw';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://cdn.jsdelivr.net/gh/emie244/lxgw-webfont@master/lxgw-regular.woff2) format('woff2');
}
